input,
select {
	height: 3.3rem;
}

.card-container {
	background-color: rgb(255, 250, 250);
	border-radius: 10px;
	box-shadow: 0 0 6px 1px rgba(182, 182, 182, 0.568);
}

.btn-update {
	width: 5rem;
	height: 2.7rem;
}

.btn-edit {
	width: 4rem;
	font-size: 1.1rem;
}

.btn-custom-delete {
	width: 8rem;
	height: 2.7rem;
}

.password-container {
	width: 20rem;
}