input,
select {
	height: 3.5rem;
}

form {
	background-color: rgb(255, 250, 250);
	border-radius: 10px;
	box-shadow: 0 0 6px 1px rgba(182, 182, 182, 0.568);
}

/* .btn {
	--bs-btn-bg: rgb(238, 76, 12, 0.9);
	--bs-btn-hover-bg: rgb(194, 60, 7);
	--bs-btn-active-bg: rgb(238, 76, 12);
	--bs-btn-border-color: none;
	--bs-btn-color: white;
	--bs-btn-hover-color: white;
	--bs-btn-active-color: white;
} */