.navbar {
	padding: 1rem 8rem;
	/* border: 1px solid rgb(204, 204, 204); */
	background-color:rgb(255, 248, 245);
	box-shadow: 0 1px 10px 0px rgba(182, 182, 182, 0.568);
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:focus {
	color: rgba(238, 76, 12);
}


